/* navbar */
.navbar{
  display: flex;
  align-items: center;
  place-content: center;
  padding: 2rem 2.5rem 1rem;
  margin-bottom: .2rem;
  gap: 30rem;
}
.nav{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-items{
  display: flex;
  gap: 2rem;
}
.nav-link{
  color: var(--Grayish-Violet);
}
.nav-link:hover{
  color: var(--Very-Dark-Violet);
  transition: .6s ease-in all;
}
.sign{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.login{
  color: var(--Grayish-Violet);
}
.login:hover{
  color: var(--Very-Dark-Violet);
  transition: .6s ease-in all;
}
.sign .btn{
  padding: .9rem 2rem;
  border-radius: 6rem;
  background-color: var(--Cyan);
  color: var(--White);
  cursor: pointer;
  font-weight: 700;
}
.sign .btn:hover{
  background-color: var(--Trans);
  transition: .6s ease-in-out all;
  padding: .95rem 2.1rem;
}
.menu, .sign-mob{
  display: none;
}
/* main */
main{
  display: flex;
  align-items: center;
  place-content: center;
  min-width: 100%;
  margin: auto;
  gap: 4rem;
  padding: 2rem 2.5rem 12rem;
}
main .text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main h1{
  width: 30rem;
  color: var(--Very-Dark-Blue);
  line-height: 4rem;
  font-weight: 800;
  font-size: 3.6rem;
}
main p{
  width: 27rem;
  color: var(--Grayish-Violet);
  line-height: 1.8rem;
  font-size: 1.3rem;
}
main .btn{
  width: 11rem;
  background-color: var(--Cyan);
  color: var(--White);
  border-radius: 6rem;
  padding: .9rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}
main .btn:hover{
  background-color: var(--Trans);
  transition: .6s ease-in-out all;
  padding: .9rem 2.1rem;
  width: 11.1rem;
}
main .hero{
  width: 35rem;
  height: 25rem;
}
/* shorten */
.sect-1-cont{
  position: relative;
}
.shorten{
  display: flex;
  padding: 4.5rem 3rem;
  border-radius: .7rem;
  width: 80%;
  margin: auto;
  gap: 1.5rem;
  background: url(../images/bg-shorten-desktop.svg) center no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  position: absolute;
  top: -28%;
  left: 0;
  right: 0;
}
.shorten input{
  border-radius: .6rem;
  width: 100%;
  padding: .9rem 0 .9rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}
.shorten input.active{
  border-color: var(--Red);
}
.shorten input:focus{
  border-color: var(--Red);
}
.shorten .btn{
  width: 11rem;
  background-color: var(--Cyan);
  color: var(--White);
  border-radius: .6rem;
  padding: .9rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}
.shorten .btn:hover{
  background-color: var(--Trans);
  transition: .6s ease-in-out all;
  padding: .9rem 2.1rem;
  width: 11.1rem;
}
/* section-1 */
.sect-1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--GrayT);
  padding: 12rem 1rem 2rem;
  place-items: center;
}
.sect-1 .head{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.sect-1 .head h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Very-Dark-Blue);
    line-height: 3rem;
}
.sect-1 .head p{
    color: var(--Grayish-Violet);
    font-size: 1.2rem;
    width: 30rem;
    line-height: 1.8rem;
}